* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

input {
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}
